@page "/"
@inherits IndexBase
@using JsonEditor.Shared.Generic
@using JsonEditor.Shared.Dialogs
@using JsonEditor.Code
@using JsonEditor.Shared.Editor
@using System.IO

<ItemSelectDialog
	Title="Choose a schema"
	Show="@ShowSchemaSelectDialog"
	Data="@Schemas"
	SearchByExtractor="s => s.FileName"
	TItem="Schema"
	OnConfirmed="OnSchemaSelected"
	OnShowChangeRequest="s => ShowSchemaSelectDialog = s"
>
	<RowTemplate>
		<p>@(Path.GetFileNameWithoutExtension(context.FileName))</p>
	</RowTemplate>
</ItemSelectDialog>

<div class="content">
	<CustomPageTitle Title="Schema Manager" />
	<div class="schema-selector">
		<h3>@(SelectedSchema?.FileName ?? "No schema selected")</h3>
		<Button @onclick="() => ShowSchemaSelectDialog = true">Select Schema</Button>
	</div>
	@if (JsonValid)
	{
		<div class="validity valid">
			<p>JSON Valid!</p>
		</div>
	} else
	{
		<div class="validity invalid">
			<p>JSON Invalid</p>
			<ul>
				@foreach (var error in Errors)
				{
					<li @key="@(error.LineNumber + ":" + error.LinePosition)">
						@error.Message
					</li>
				}
			</ul>
		</div>
	}
	<textarea value="@JsonContent" @oninput="e => JsonContent = (e.Value as string)!"></textarea>
	@if (JsonObj != null)
	{
		<JsonValue JsonValue="@JsonObj" OnChange="OnJsonChange" Errors="@Errors" Schema="@SelectedSchema?.GetJSchema()" />
	} else
	{
		<p>invalid json</p>
	}
</div>
