@page "/"
@inherits IndexBase
@using JsonEditor.Shared.Generic
@using JsonEditor.Shared.Dialogs
@using JsonEditor.Shared.Editor
@using JsonEditor.Shared.SyntaxHighlighting
@using JsonEditor.Code
@using System.IO

<ItemSelectDialog
	Title="Choose a schema"
	Show="@ShowSchemaSelectDialog"
	Data="@Schemas"
	SearchByExtractor="s => s.FileName"
	TItem="Schema"
	OnConfirmed="OnSchemaSelected"
	OnShowChangeRequest="s => ShowSchemaSelectDialog = s"
>
	<RowTemplate>
		<p>@(Path.GetFileNameWithoutExtension(context.FileName))</p>
	</RowTemplate>
</ItemSelectDialog>

<div class="content">
	<div class="header">
		<CustomPageTitle Title="JSON Editor"/>
		<h3>@(SelectedSchema?.FileName ?? "No schema selected")</h3>
		<Button @onclick="() => ShowSchemaSelectDialog = true">Select Schema</Button>
	</div>
	@* @foreach (var error in Errors) *@
	@* { *@
	@* 	<li @key="@(error.LineNumber + ":" + error.LinePosition)"> *@
	@* 		@error.Message *@
	@* 	</li> *@
	@* } *@
	@* <textarea value="@JsonContent" @oninput="e => JsonContent = (e.Value as string)!"></textarea> *@
	<label class="file-upload">
    	Upload File
    	<InputFile OnChange="@LoadFile" accept=".json" />
    </label>
	@if (JsonObj != null)
	{
		<div class="json-editor">
			<CascadingValue Value="@InteractionStore">
				<JsonHighlighting JsonValue="@JsonObj" />
				<div class="json-value">
					<JsonValue JsonValue="@JsonObj" OnChange="OnJsonChange" Errors="@Errors" Schema="@SelectedSchema?.GetJSchema()" />
				</div>
			</CascadingValue>
		</div>
	}
	else
	{
		<p>invalid json</p>
	}
</div>
