@using Newtonsoft.Json.Linq
@using JsonEditor.Shared.Generic
@inherits JsonObjectBase

<table>
	@foreach (var property in JsonObject.Properties()) {
		<tr @key="property.Name">
			<td>@property.Name</td>
			<td>
				<JsonValue
					JsonValue="@property.Value"
					OnChange="e => OnChangeProperty(property.Name, e)"
					Name="@property.Name"
					Errors="@Errors"
					Schema="@GetSchema(property.Name)"
				/>
			</td>
		</tr>
	}
	@if (Schema != null && GetMissingProperties()!.Any())
	{
		<tr>
			<td>
				<Select OnChange="SetSelectedProperty">
					@foreach (var property in GetMissingProperties()!)
					{
						<option value="@property">@property</option>
					}
				</Select>
			</td>
			<td>
				<Button @onclick="AddProperty">Add</Button>
			</td>
		</tr>
	}
</table>