@using JsonEditor.Code
@using JsonEditor.Shared.Generic
@inherits JsonArrayBase

<div>
	<table>
		@foreach (var i in Enumerable.Range(0, JsonArray.Count)) {
			<tr @key="i">
				<td>[@i]</td>
				<td class="value">
					<JsonValue
						JsonValue="@JsonArray[i]"
						OnChange="e => { OnChangeProperty(i, e); }"
						Name="@($"[{i}]")"
						Errors="@Errors"
						Schema="@GetItemSchema(i)"
					/>
					<Button Variant="ButtonVariant.Danger" @onclick="() => RemoveItem(i)">Remove</Button>
				</td>
			</tr>
		}
	</table>
	<div class="add-type">
		<Select OnChange="TypeSelected">
			@foreach (var (typeName, type) in PossibleTypes)
			{
				<option value="@type">@typeName</option>
			}
		</Select>
		<Button @onclick="Add">Add</Button>
	</div>
</div>